{% if home == og_url %}

<!-- HOME ABOUT -->
<section class="home_about">
	<div class="home_about-in wrapper">
		<h2 class="block-title">О компании</h2>
		<div class="home_about-text">
			<p> Компания "Алмаком" представляет на рынке Казахстана, России и Кыргызстана самое современное климатическое оборудование торговой марки "Almacom".<br>Основанная в 1990 г. компания "Алмаком" выросла в крупного и надежного поставщика кондиционеров и другой бытовой техники. Это стало возможным благодаря многолетнему опыту, планомерной, кропотливой и добросовестной работе, компетентным сотрудникам, абсолютной честности и прозрачности в работе с партнерами, а также тем принципам, которым мы следуем в нашей повседневной работе: ориентации не на сиюминутную прибыль, а на потребности и возможности наших уважаемых клиентов, на экономическую ситуацию на рынке.</p>
		</div><a class="home_about-more" href="index.php?route=information/information&information_id=4">Читать подробнее</a>
		<div class="banner">
			<div class="banner-pic"><img src="catalog/view/theme/almacom/img/girl-with-phone.png" alt=""></div>
			<div class="banner-text">
				<p class="banner-text-title">Не хотите выбирать?</p>
				<p class="banner-text-main">Наши специалисты помогут подобрать необходимую вам продукцию нашей компании. <br>Оставьте заявку и мы вам перезвоним.</p>
				<div class="banner-text-buttons"><a class="bt-buttons-btn order-a-call">Обратный звонок</a><a class="bt-buttons-btn bt-buttons-btn_ol" href="index.php?route=information/contact">Как до нас добраться?</a></div>
			</div>
		</div>
	</div>
</section>

<!-- HOME FEEDBACKS -->
<section class="feedbacks">
	<div class="feedbacks-in wrapper">
		<h2 class="block-heading">Отзывы</h2>
		<div class="feedbacks-block">
{# 			<div class="feedbacks-filters">
				<button class="feedbacks-filters-item">Все отызвы (350)</button>
				<button class="feedbacks-filters-item">С высокой оценкой (69)</button>
				<button class="feedbacks-filters-item active">Средняя оценка (14)</button>
				<button class="feedbacks-filters-item">Плохая оценка (0)</button>
			</div> #}
			<div class="feedbacks-list">
				<div class="feedbacks-list-item">
					<div class="card-feedback">
						<div class="card-feedback-rating">
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
						</div>
						<div class="card-feedback-body">
							<p class="cf-body-item">Так сложилось кондиционерами Almacom пользуемся давно, но приобретаем впервые. Выбрали непосредственно в шоу-руме на Муратбаева. Спасибо Гульнар за терпение. Установили на следующий день. Быстро, аккуратно. Спасибо Мурату.</p>
						</div>
						<div class="card-feedback-author">Ахметов Алишер</div>
					</div>
				</div>
				<div class="feedbacks-list-item">
					<div class="card-feedback">
						<div class="card-feedback-rating">
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
						</div>
						<div class="card-feedback-body">
							<p class="cf-body-item">Добрый день! Хочу отметить оперативность и гибкость работы данной компании! Быстрая и качественная установка кондиционеров, а так же гарантии! Спасибо за работу, желаю процветания вашему бизнесу!!!</p>
						</div>
						<div class="card-feedback-author">Рустанбеков Галымжан</div>
					</div>
				</div>
				<div class="feedbacks-list-item">
					<div class="card-feedback">
						<div class="card-feedback-rating">
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
						</div>
						<div class="card-feedback-body">
							<p class="cf-body-item">Сотрудник супер все быстро и четко. Монтажник Мурат и его напарник молодцы все измерили и установили. Это уже наш третий кондиционер.</p>
						</div>
						<div class="card-feedback-author">Мария</div>
					</div>
				</div>
				<div class="feedbacks-list-item">
					<div class="card-feedback">
						<div class="card-feedback-rating">
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
						</div>
						<div class="card-feedback-body">
							<p class="cf-body-item">Хочу сказать огромное спасибо Алмакому за качественные обогреватели, которые спасают нас на севере! Два обогревателя повесили на стену, а два на колёсах передвигаем по остальным комнатам. Дом нагревается очень быстро, так как выбирали самые мощные. Качество просто супер! Недавно один упал с лестницы, и с ним всё в порядке! Хочется конечно побольше выбора в Павлодаре.</p>
						</div>
						<div class="card-feedback-author">Санатор</div>
					</div>
				</div>
				<div class="feedbacks-list-item">
					<div class="card-feedback">
						<div class="card-feedback-rating">
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
						</div>
						<div class="card-feedback-body">
							<p class="cf-body-item">Благодарю ALMACOM Салон-Климат за профессиональный подход к своей работе!!! Выбрав в прошлом году именно эту компанию для приобретения кондиционеров для дома, убедилась как слаженно и четко поставлена их работа, как внимательно они относятся к своим клиентам! Профессиональная консультация в выборе, установка и гарантийное обслуживание - все заслуживает высокой оценки!! Спасибо, что такие компании есть у нас на рынке!!!</p>
						</div>
						<div class="card-feedback-author">Ураимова Асия</div>
					</div>
				</div>
				<div class="feedbacks-list-item">
					<div class="card-feedback">
						<div class="card-feedback-rating">
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
						</div>
						<div class="card-feedback-body">
							<p class="cf-body-item">Купил у вас кондиционеры, установили на кухню, второй в комнату. Так же спасибо, что составили смету под ключ,оборудование+доставку+установка. Пояснили дальнейший порядок моих действий по покупке, доставке и монтажу оборудования. Буду советовать ваш магазин друзьям.</p>
						</div>
						<div class="card-feedback-author">Адиль</div>
					</div>
				</div>
				<div class="feedbacks-list-item">
					<div class="card-feedback">
						<div class="card-feedback-rating">
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
							<i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i>
						</div>
						<div class="card-feedback-body">
							<p class="cf-body-item">За время сотрудничества ТОО "Almacom" зарекомендовало себя надежным поставщиком, которые в полном объеме выполняют свои договорные обязательства по срокам поставок и выполнению заказов. На сегодняшний день, нет каких-либо претензий или нареканий. Следует отметить и качественную работу по оформлению документации, которая представлялась в оперативном порядке по каждому запросу или поручению. С учетом выше изложенного, считаем, что возможное сотрудничество с указанным поставщиком ТОО"Almacom" будет продуктивно для любой компании.</p>
						</div>
						<div class="card-feedback-author">Шуменко Максим</div>
					</div>
				</div>
				{# <div class="feedbacks-list-item d-none">
					<div class="card-feedback">
						<div class="card-feedback-rating"><i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i><i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i><i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i><i class="sprite sprite-star-empty"><svg><use xlink:href="#star"></use></svg></i><i class="sprite sprite-star-empty"><svg><use xlink:href="#star"></use></svg></i></div>
						<h4 class="card-feedback-product">Настенный кондиционер Almacom ACH-09I</h4>
						<div class="card-feedback-body">
							<p class="cf-body-item"><strong>Достоинства: </strong>Охлаждает быстро,работает тихо на минимальной скорости,ребенку спать не мешает,на средней уже слышно,на максималке такое ощущение что самолет взлетает,но буквально 10 ммнут и становится уже холодно.</p>
							<p class="cf-body-item"><strong>Недостатки: </strong>Не выявлено.</p>
							<p class="cf-body-item"><strong>Комментарий: </strong>Покупали сразу 2шт. по акции с бесплатной установкой за 60к,я считаю вполне вменяемые деньги ха японское качество.</p>
						</div>
						<div class="card-feedback-author">Наталья, 28 октября 2019</div>
					</div>
				</div>
				<div class="feedbacks-list-item d-none">
					<div class="card-feedback">
						<div class="card-feedback-rating"><i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i><i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i><i class="sprite sprite-star-full"><svg><use xlink:href="#star"></use></svg></i><i class="sprite sprite-star-empty"><svg><use xlink:href="#star"></use></svg></i><i class="sprite sprite-star-empty"><svg><use xlink:href="#star"></use></svg></i></div>
						<h4 class="card-feedback-product">Настенный кондиционер Almacom ACH-09I</h4>
						<div class="card-feedback-body">
							<p class="cf-body-item"><strong>Достоинства: </strong>Охлаждает быстро,работает тихо на минимальной скорости,ребенку спать не мешает,на средней уже слышно,на максималке такое ощущение что самолет взлетает,но буквально 10 ммнут и становится уже холодно.</p>
							<p class="cf-body-item"><strong>Недостатки: </strong>Не выявлено.</p>
							<p class="cf-body-item"><strong>Комментарий: </strong>Покупали сразу 2шт. по акции с бесплатной установкой за 60к,я считаю вполне вменяемые деньги ха японское качество.</p>
						</div>
						<div class="card-feedback-author">Наталья, 28 октября 2019</div>
					</div>
				</div> #}
			</div>
			{# <div class="feedbacks-buttons"><button class="feedbacks-buttons-btn button">Загрузить еще 10 отзывов</button></div> #}
		</div>
	</div>
</section>

<!-- HOME FAQ -->

<!-- <section class="home_faq">
	<div class="home_faq-in wrapper">
		<h2 class="block-heading">Вопросы и ответы</h2>
		<ul class="home_faq-list">
			<li class="hf-list-item">
				<div class="hfl-item-icon"><span class="hfli-icon-wrapper"><i class="sprite sprite-arrow-down"><svg><use xlink:href="#arrow"></use></svg></i></span></div>
				<div class="hfl-item-main">
					<h6 class="hfli-main-question">Откуда забирает воздух кондиционер?</h6>
					<p class="hfli-main-answer" style="display:block">Большинство продаваемых бытовых кондиционеров не могут подавать свежий воздух с улицы, так как это не позволяет делать их конструкция. Принцип работы кондиционера заключается в том, что при работе он забирает воздух не с улицы, а из помещения, где установлен внутренний блок. Забор воздуха происходит через верхнюю часть блока и проходя через испаритель (радиатор), который при работе охлаждается за счет наружного блока, воздух устремляется вниз. Производятся так же бытовые кондиционеры, которые берут воздуха с улицы. Конструкция таких кондиционеров предусматривает дополнительные функции и возможности, но и цена на такой прибор увеличивается во много раз. К примеру: простая сплит система обойдется от 16 000 рублей, а с притоком свежего воздуха от 150 000 рублей. Выбирайте сами, либо вы откроете окно для проветривания на 5-7 минут, либо потребуется заплатить в десять раз больше.</p>
				</div>
			</li>
			<li class="hf-list-item">
				<div class="hfl-item-icon"><span class="hfli-icon-wrapper"><i class="sprite sprite-arrow-down rotated"><svg><use xlink:href="#arrow"></use></svg></i></span></div>
				<div class="hfl-item-main">
					<h6 class="hfli-main-question">Можно ли пользоваться кондиционером на обогрев в зимнее время?</h6>
					<p class="hfli-main-answer">Большинство продаваемых бытовых кондиционеров не могут подавать свежий воздух с улицы, так как это не позволяет делать их конструкция. Принцип работы кондиционера заключается в том, что при работе он забирает воздух не с улицы, а из помещения, где установлен внутренний блок. Забор воздуха происходит через верхнюю часть блока и проходя через испаритель (радиатор), который при работе охлаждается за счет наружного блока, воздух устремляется вниз. Производятся так же бытовые кондиционеры, которые берут воздуха с улицы. Конструкция таких кондиционеров предусматривает дополнительные функции и возможности, но и цена на такой прибор увеличивается во много раз. К примеру: простая сплит система обойдется от 16 000 рублей, а с притоком свежего воздуха от 150 000 рублей. Выбирайте сами, либо вы откроете окно для проветривания на 5-7 минут, либо потребуется заплатить в десять раз больше.</p>
				</div>
			</li>
			<li class="hf-list-item">
				<div class="hfl-item-icon"><span class="hfli-icon-wrapper"><i class="sprite sprite-arrow-down rotated"><svg><use xlink:href="#arrow"></use></svg></i></span></div>
				<div class="hfl-item-main">
					<h6 class="hfli-main-question">Как часто нужно делать сервисное обслуживание кондиционера?</h6>
					<p class="hfli-main-answer">Большинство продаваемых бытовых кондиционеров не могут подавать свежий воздух с улицы, так как это не позволяет делать их конструкция. Принцип работы кондиционера заключается в том, что при работе он забирает воздух не с улицы, а из помещения, где установлен внутренний блок. Забор воздуха происходит через верхнюю часть блока и проходя через испаритель (радиатор), который при работе охлаждается за счет наружного блока, воздух устремляется вниз. Производятся так же бытовые кондиционеры, которые берут воздуха с улицы. Конструкция таких кондиционеров предусматривает дополнительные функции и возможности, но и цена на такой прибор увеличивается во много раз. К примеру: простая сплит система обойдется от 16 000 рублей, а с притоком свежего воздуха от 150 000 рублей. Выбирайте сами, либо вы откроете окно для проветривания на 5-7 минут, либо потребуется заплатить в десять раз больше.</p>
				</div>
			</li>
			<li class="hf-list-item">
				<div class="hfl-item-icon"><span class="hfli-icon-wrapper"><i class="sprite sprite-arrow-down rotated"><svg><use xlink:href="#arrow"></use></svg></i></span></div>
				<div class="hfl-item-main">
					<h6 class="hfli-main-question">Можно ли установить сплит систему самому?</h6>
					<p class="hfli-main-answer">Большинство продаваемых бытовых кондиционеров не могут подавать свежий воздух с улицы, так как это не позволяет делать их конструкция. Принцип работы кондиционера заключается в том, что при работе он забирает воздух не с улицы, а из помещения, где установлен внутренний блок. Забор воздуха происходит через верхнюю часть блока и проходя через испаритель (радиатор), который при работе охлаждается за счет наружного блока, воздух устремляется вниз. Производятся так же бытовые кондиционеры, которые берут воздуха с улицы. Конструкция таких кондиционеров предусматривает дополнительные функции и возможности, но и цена на такой прибор увеличивается во много раз. К примеру: простая сплит система обойдется от 16 000 рублей, а с притоком свежего воздуха от 150 000 рублей. Выбирайте сами, либо вы откроете окно для проветривания на 5-7 минут, либо потребуется заплатить в десять раз больше.</p>
				</div>
			</li>
		</ul>
		<div class="home_faq-buttons">
			<p class="hf-buttons-text">Остались вопросы? Пишите!</p><button class="hf-buttons-btn button">Задать свой вопрос</button>
		</div>
	</div>
</section> -->
<!-- MAP -->
<section class="map">
	<div class="map-body"></div>
	<div class="map-info wrapper">
		<div class="map-info-contacts">
			<p class="mi-contacts-title">Мы будем рады ответить на ваши вопросы и получить обратную связь</p>
			<div class="mi-contacts-details">
				<p class="mic-details-address">г. Алматы, ул. Муратбаева 164/110, магазин «Салон Климат» <br><span class="micd-address-hint">(уг. ул. Карасай батыра)</span></p>
				<p class="mic-details-tel"><a href="tel:+77470948627">+7 (747) 094-86-27</a></p>
				<p class="mic-details-mail"><a href="mailto:shop@almacom.kz">shop@almacom.kz</a></p>
				<div class="mic-details-socials">
					<p class="micd-socials-title">Социальные сети и мессенджеры:</p>
					
					<p class="micd-socials-list">
						<a href="https://www.instagram.com/almacom.kz/" target="_blank"><i class="sprite sprite-instagram"><svg><use xlink:href="#instagram"></use></svg></i></a> 
						<a href="https://api.whatsapp.com/send/?phone=77470948627" target="_blank"><img src="/catalog/view/image/whatsapp.svg"></a>
					</p>

				</div>
			</div>
		</div>
		<form action="/index.php?route=mail/callback" class="map-info-form" method="post">
			<div class="mi-form-top">
				<h6 class="mif-top-heading">Обратная связь</h6>
				<p class="mif-top-hint">Вы можете оставить свой отзыв или задать интересующий вас вопрос</p>
			</div>
			<div class="mi-form-controls">
				<label>
					<p class="mif-controls-title">Ваше имя</p>
					<input type="text" name="your_name" value="" placeholder="Ваше имя">
				</label>
				<label>
					<p class="mif-controls-title">Укажите ваш номер телефона</p>
					<input type="tel" name="your_phone" value="" placeholder="+7">
				</label>
				<label>
					<p class="mif-controls-title">Ваше сообщение</p>
					<input type="text" name="your_message" value="" placeholder="Сообщение...">
				</label>
			</div>
			<div class="mi-form-buttons">
				<button class="button" type="submit">Отправить</button>
				<div class="g-recaptcha-container">
                    <div class="g-recaptcha-item" id="recaptchaMain"></div>
                    <div class="recaptcha-error d-none"></div>
                </div>
			</div>
		</form>
	</div>
</section>

{% endif %}