    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-in wrapper">
            <div class="footer-logo">
                <div class="logo">
                    <div class="logo-img"><img src="catalog/view/theme/almacom/img/logo.svg" alt="Алмаком Логотип"></div>
                    <div class="logo-text">климатическая техника</div>
                </div>
            </div>
            <div class="footer-links">
                <div class="footer-links-col">
                    <h6 class="footer-links-title">О компании</h6>
                    <ul class="footer-links-list">
                        <li class="fl-list-item"><a href="/catalogs">Каталог продукции</a></li>
                        {# <li class="fl-list-item"><a href="#">Дилерам</a></li> #}
                        <li class="fl-list-item"><a href="/about_us">О компании</a></li>
                        <li class="fl-list-item"><a href="/servisnyy-centr-almacom">Сервис</a></li>
                        <li class="fl-list-item"><a href="/contact">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer-links-col">
                    <h6 class="footer-links-title">Все о покупке</h6>
                    <ul class="footer-links-list">
                        {# <li class="fl-list-item"><a href="#">Доставка</a></li> #}
                        {# <li class="fl-list-item"><a href="#">Монтаж</a></li> #}
                        <li class="fl-list-item"><a href="/distribyutory_almacom">Где купить</a></li>
                        <li class="fl-list-item"><a href="#">Акции</a></li>
                    </ul>
                </div>
                {# <div class="footer-links-col">
                    <h6 class="footer-links-title">Новости</h6>
                    <ul class="footer-links-list">
                        <li class="fl-list-item"><a href="#">Новости компании</a></li>
                        <li class="fl-list-item"><a href="#">Новости направлений</a></li>
                    </ul>
                </div> #}
            </div>
        </div>
    </footer>

    <!-- CALLBACK-->
{# <div class="callback"><a class="callback-link" href="tel:+77470948629">+7 (747) 094-86-29</a><button class="callback-btn">Перезвонить?</button></div> #}

    <!-- MODAL ORDER A CALL-->
    <div class="overlay overlay_order_call">
        <div class="order_call">
            <div class="order_call-in">
                <form class="order_call-form" action="?" method="post">
                    <p class="oc-form-title">Заказать обратный звонок</p>
                    <div class="oc-form-inputs mi-form-controls"><label>
                            <p class="mif-controls-title">Ваше имя</p><input type="text" name="name" value="" placeholder="Введите ваше имя">
                        </label><label>
                            <p class="mif-controls-title">Ваш телефон</p><input type="tel" name="tel" value="" placeholder="+7 (___) ___-__-__">
                        </label></div>
                    <div class="oc-form-buttons"><button class="button" type="submit">Заказать</button></div>
                </form>
                <div class="order-close order_call-close"><i class="sprite sprite-close"></i></div>
            </div>
        </div>
    </div>

    <!-- MODAL QUESTION -->
    <div class="overlay overlay_order_question">
        <div class="order_call">
            <div class="order_call-in">
                <form class="order_call-form" action="#" method="post">
                    <p class="oc-form-title">Задайте свой вопрос</p>
                    <p class="oc-form-subtitle">Задайте интересующий вас вопрос и мы обязательно ответим</p>
                    <div class="oc-form-inputs mi-form-controls">
                        <label>
                            <p class="ocf-inputs-title">Ваше имя</p>
                            <input type="text" name="question_name" value="" placeholder="Введите ваше имя">
                        </label>
                        <label>
                            <p class="ocf-inputs-title">Укажите ваш номер телефона</p>
                            <input type="tel" name="question_tel" value="" placeholder="+7">
                        </label>
                        <label>
                            <p class="ocf-inputs-title">Ваш вопрос</p>
                            <textarea name="question_text" value="" placeholder="Сообщение..."></textarea>
                        </label>
                    </div>
                    <div class="oc-form-buttons">
                        <button class="button" type="submit">Отправить</button>
                        <div class="g-recaptcha-container">
                            <div class="g-recaptcha-item" id="recaptchaQuestion"></div>
                            <div class="recaptcha-error d-none"></div>
                        </div>
                    </div>
                </form>
                <div class="order-close order_question-close"><i class="sprite sprite-modal-close"></i></div>
            </div>
        </div>
    </div>

    <!-- MODAL SERVICE -->
    <div class="overlay overlay_order_service">
        <div class="order_call">
            <div class="order_call-in">
                <form class="order_call-form" action="#" method="post">
                    <p class="oc-form-title">Заказать сервис</p>
                    <div class="oc-form-inputs mi-form-controls">
                        <label>
                            <p class="ocf-inputs-title">Выбранная услуга</p>
                            <input type="text" name="service_type" value="" disabled="">
                        </label>
                        <label>
                            <p class="ocf-inputs-title">Ваше имя</p>
                            <input type="text" name="service_name" value="" placeholder="Введите ваше имя">
                        </label>
                        <label>
                            <p class="ocf-inputs-title">Укажите ваш номер телефона</p>
                            <input type="tel" name="service_tel" value="" placeholder="+7">
                        </label>
                    </div>
                    <div class="oc-form-buttons">
                        <button class="button" type="submit">Отправить</button>
                        <div class="g-recaptcha-container">
                            <div class="g-recaptcha-item" id="recaptchaService"></div>
                            <div class="recaptcha-error d-none"></div>
                        </div>
                    </div>
                </form>
                <div class="order-close order_service-close"><i class="sprite sprite-modal-close"></i></div>
            </div>
        </div>
    </div>

    <!-- LOADING CSS -->
    <div class="loading-css d-none">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>

    <!-- SCRIPTS --> 
    <script src="//unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="//unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="catalog/view/theme/almacom/js/jquery.mask.min.js"></script>
    <script>
        // RECAPTCHAs INIT
        var recaptchaMainId, recaptchaQuestionId, recaptchaServiceId;
        function renderRecaptcha() {
            $(function(){
                if ($('#recaptchaMain').length) {
                    recaptchaMainId = grecaptcha.render('recaptchaMain', {
                        'sitekey' : '6Lf5wsAaAAAAAIgTrpsmn71xmwlJfC-OB-Ea_O_v',
                        'callback' : hideRecaptchaError
                    });
                }
                if ($('#recaptchaQuestion').length) {
                    recaptchaQuestionId = grecaptcha.render('recaptchaQuestion', {
                        'sitekey' : '6Lf5wsAaAAAAAIgTrpsmn71xmwlJfC-OB-Ea_O_v',
                        'callback' : hideRecaptchaError
                    });
                }
                if ($('#recaptchaService').length) {
                    recaptchaServiceId = grecaptcha.render('recaptchaService', {
                        'sitekey' : '6Lf5wsAaAAAAAIgTrpsmn71xmwlJfC-OB-Ea_O_v',
                        'callback' : hideRecaptchaError
                    });
                }
            })
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=renderRecaptcha&render=explicit&hl=ru" async defer></script>
    <script src="catalog/view/theme/almacom/js/scripts.js?v=1.94"></script>

    <!-- Opencart JS -->
    <script src="catalog/view/javascript/common-almacom.js" type="text/javascript"></script>
    {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}


    <!-- SVG ICONS SPRITE -->
    <svg width="0" height="0" class="hidden">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 65" id="arrow">
            <path d="M21.959 61.93L2.024 38.096A8.722 8.722 0 01.001 32.49a8.73 8.73 0 012.023-5.604L21.96 3.05a8.436 8.436 0 0112.018-.996c3.59 3.098 4.029 8.561.978 12.208L19.712 32.489l15.243 18.228c3.049 3.65 2.61 9.112-.978 12.207a8.437 8.437 0 01-12.018-.993z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59 48" id="burger">
            <path fill="#5d6976" d="M1 4.575c0-1.56.791-2.826 1.766-2.826h52.992c.975 0 1.767 1.265 1.767 2.826 0 1.56-.792 2.826-1.767 2.826H2.766C1.792 7.401 1 6.135 1 4.575zm56.525 19.784c0 1.56-.792 2.826-1.767 2.826H2.766C1.792 27.185 1 25.92 1 24.36s.791-2.826 1.766-2.826h52.992c.975 0 1.767 1.266 1.767 2.826zm0 19.784c0 1.56-.792 2.826-1.767 2.826H20.43c-.975 0-1.766-1.266-1.766-2.826s.791-2.827 1.766-2.827h35.328c.975 0 1.767 1.266 1.767 2.827z"></path>
            <path fill="#f6f6f6" d="M1 4.575c0-1.56.791-2.826 1.766-2.826h52.992c.975 0 1.767 1.265 1.767 2.826 0 1.56-.792 2.826-1.767 2.826H2.766C1.792 7.401 1 6.135 1 4.575zm56.525 19.784c0 1.56-.792 2.826-1.767 2.826H2.766C1.792 27.185 1 25.92 1 24.36s.791-2.826 1.766-2.826h52.992c.975 0 1.767 1.266 1.767 2.826zm0 19.784c0 1.56-.792 2.826-1.767 2.826H20.43c-.975 0-1.766-1.266-1.766-2.826s.791-2.827 1.766-2.827h35.328c.975 0 1.767 1.266 1.767 2.827z"></path>
            <path fill="none" stroke="#f6f6f6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" d="M1 4.575c0-1.56.791-2.826 1.766-2.826h52.992c.975 0 1.767 1.265 1.767 2.826 0 1.56-.792 2.826-1.767 2.826H2.766C1.792 7.401 1 6.135 1 4.575zm56.525 19.784c0 1.56-.792 2.826-1.767 2.826H2.766C1.792 27.185 1 25.92 1 24.36s.791-2.826 1.766-2.826h52.992c.975 0 1.767 1.266 1.767 2.826zm0 19.784c0 1.56-.792 2.826-1.767 2.826H20.43c-.975 0-1.766-1.266-1.766-2.826s.791-2.827 1.766-2.827h35.328c.975 0 1.767 1.266 1.767 2.827z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 40" id="cart-fav">
            <path fill="#333" d="M46.102 14.233c0 12.129-20.866 23.636-21.712 24.088a1.015 1.015 0 01-1.128 0c-.846-.452-21.711-12.129-21.711-24.088 0-6.978 5.655-12.636 12.632-12.636a12.348 12.348 0 019.643 4.457 12.518 12.518 0 019.643-4.457c6.977 0 12.633 5.658 12.633 12.636zm-2.256 0a10.38 10.38 0 00-4.698-8.704C34.35 2.392 27.92 3.74 24.785 8.536a1.183 1.183 0 01-1.917 0 10.15 10.15 0 00-8.685-4.682c-5.73 0-10.376 4.647-10.376 10.38 0 9.702 16.748 19.912 20.02 21.83 3.27-1.861 20.019-12.015 20.019-21.83z"></path>
            <path fill="#c8c8c8" d="M46.102 14.233c0 12.129-20.866 23.636-21.712 24.088a1.015 1.015 0 01-1.128 0c-.846-.452-21.711-12.129-21.711-24.088 0-6.978 5.655-12.636 12.632-12.636a12.348 12.348 0 019.643 4.457 12.518 12.518 0 019.643-4.457c6.977 0 12.633 5.658 12.633 12.636zm-2.256 0a10.38 10.38 0 00-4.698-8.704C34.35 2.392 27.92 3.74 24.785 8.536a1.183 1.183 0 01-1.917 0 10.15 10.15 0 00-8.685-4.682c-5.73 0-10.376 4.647-10.376 10.38 0 9.702 16.748 19.912 20.02 21.83 3.27-1.861 20.019-12.015 20.019-21.83z"></path>
            <path fill="none" stroke="#c8c8c8" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M46.102 14.233c0 12.129-20.866 23.636-21.712 24.088a1.015 1.015 0 01-1.128 0c-.846-.452-21.711-12.129-21.711-24.088 0-6.978 5.655-12.636 12.632-12.636a12.348 12.348 0 019.643 4.457 12.518 12.518 0 019.643-4.457c6.977 0 12.633 5.658 12.633 12.636zm-2.256 0a10.38 10.38 0 00-4.698-8.704C34.35 2.392 27.92 3.74 24.785 8.536a1.183 1.183 0 01-1.917 0 10.15 10.15 0 00-8.685-4.682c-5.73 0-10.376 4.647-10.376 10.38 0 9.702 16.748 19.912 20.02 21.83 3.27-1.861 20.019-12.015 20.019-21.83z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 66" id="cart">
            <path d="M32.41 57.674c0 4.597-3.768 8.337-8.398 8.337-4.631 0-8.399-3.74-8.399-8.337 0-4.597 3.768-8.336 8.399-8.336 4.63 0 8.398 3.74 8.398 8.336zm-5.04 0c0-1.839-1.507-3.335-3.358-3.335-1.853 0-3.36 1.496-3.36 3.335s1.507 3.334 3.36 3.334c1.852 0 3.359-1.495 3.359-3.334zm29.898 0c0 4.597-3.767 8.337-8.398 8.337-4.63 0-8.398-3.74-8.398-8.337 0-4.597 3.767-8.336 8.398-8.336s8.398 3.74 8.398 8.336zm-5.039 0c0-1.839-1.506-3.335-3.359-3.335s-3.359 1.496-3.359 3.335 1.506 3.334 3.359 3.334 3.36-1.495 3.36-3.334zm11.693-39.285l-5.878 25.259a2.515 2.515 0 01-2.455 1.939H20.316a2.515 2.515 0 01-2.471-2.016L10.45 6.476 2.058 4.948a2.502 2.502 0 01-2.024-2.91A2.515 2.515 0 012.966.03l10.078 1.834a2.51 2.51 0 012.018 1.974l2.29 11.489h44.115c.768 0 1.493.347 1.972.944.478.596.656 1.377.483 2.119zM58.3 20.328H18.35l4.037 20.257h31.199z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" id="check">
            <path d="M27.994 14c0 7.733-6.266 14-13.997 14C6.267 28 0 21.734 0 14S6.267 0 13.997 0c7.73 0 13.997 6.267 13.997 14zm-3.11 0c0-6.014-4.874-10.89-10.887-10.89C7.985 3.11 3.111 7.987 3.111 14s4.874 10.89 10.886 10.89c6.013 0 10.887-4.876 10.887-10.89zm-3.752-3.63L12.525 20l-5.553-5.33 2.154-2.245 3.228 3.099 6.46-7.229z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 29" id="clock">
            <path d="M28.007 14.164c0 7.721-6.282 14.003-14.004 14.003C6.282 28.167 0 21.885 0 14.164S6.282.161 14.003.161c7.722 0 14.004 6.282 14.004 14.003zm-3.061 0c0-6.033-4.909-10.942-10.943-10.942-6.033 0-10.942 4.909-10.942 10.942 0 6.034 4.909 10.942 10.942 10.942 6.034 0 10.943-4.908 10.943-10.942zm-5.66 4.088a1.186 1.186 0 11-1.677 1.677l-4.419-4.418a1.18 1.18 0 01-.342-.896c0-.02-.005-.037-.005-.055V8.312a1.187 1.187 0 012.373 0v5.869z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 60" id="favorites">
            <path fill="#fff" d="M71 20.855c0 19.056-32.785 37.137-34.114 37.847a1.595 1.595 0 01-1.772 0C33.784 57.992 1 39.645 1 20.855 1 9.889 9.886 1 20.848 1A19.403 19.403 0 0136 8.003 19.67 19.67 0 0151.152 1C62.114 1 71 9.89 71 20.855zm-3.544 0a16.308 16.308 0 00-7.382-13.677c-7.536-4.93-17.64-2.814-22.568 4.724a1.86 1.86 0 01-3.012 0 15.949 15.949 0 00-13.646-7.356c-9.004 0-16.304 7.301-16.304 16.309 0 15.244 26.317 31.287 31.456 34.302 5.14-2.926 31.456-18.88 31.456-34.302z"></path>
            <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M71 20.855c0 19.056-32.785 37.137-34.114 37.847a1.595 1.595 0 01-1.772 0C33.784 57.992 1 39.645 1 20.855 1 9.889 9.886 1 20.848 1A19.403 19.403 0 0136 8.003 19.67 19.67 0 0151.152 1C62.114 1 71 9.89 71 20.855zm-3.544 0a16.308 16.308 0 00-7.382-13.677c-7.536-4.93-17.64-2.814-22.568 4.724a1.86 1.86 0 01-3.012 0 15.949 15.949 0 00-13.646-7.356c-9.004 0-16.304 7.301-16.304 16.309 0 15.244 26.317 31.287 31.456 34.302 5.14-2.926 31.456-18.88 31.456-34.302z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 41" id="delete">
            <path fill="#c9c9c9" d="M.321 15.175V8.812h3.677v2.893H2.16v1.735h.612v1.735zm33.09 0h-1.838V13.44h-.613v1.735h.613v-3.47h-1.838V8.812c0-.319-.275-.578-.613-.578H4.61v-3.47C2.24 4.764.32 6.576.32 8.812h3.677c0-.319.274-.578.613-.578v-3.47H8.9v1.735h3.676V4.764h8.579v1.735h3.676V4.764h4.29c2.37 0 4.29 1.812 4.29 4.048zm-6.127-1.735v1.735H6.449V13.44H3.998v-1.735h25.124v1.735zm0 1.735h3.676v21.401c0 2.236-1.92 4.05-4.29 4.05H7.063v-3.472H26.67c.338 0 .613-.258.613-.578zm-24.512 0H6.45v21.401H2.772zm22.06-10.411h-3.676v-.579c0-.32-.275-.578-.613-.578H13.19c-.339 0-.613.259-.613.578v.579H8.9v-.579C8.9 1.95 10.82.136 13.19.136h7.353c2.37 0 4.29 1.813 4.29 4.05zM2.772 36.576H6.45c0 .32.275.578.613.578v3.471c-2.37 0-4.29-1.813-4.29-4.049zm8.702-17.815h3.431V31.95c0 .894-.768 1.62-1.715 1.62-.948 0-1.716-.726-1.716-1.62zm7.353 0h3.432v1.62h-3.432zm1.716 14.808c-.948 0-1.716-.726-1.716-1.62h3.432c0 .894-.768 1.62-1.716 1.62zm1.716-1.62h-3.432V20.38h3.432z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 39" id="filter">
            <path d="M36.59 8.323H19.26a1.487 1.487 0 110-2.974h17.33a1.487 1.487 0 110 2.974zm-26.253 4.833a4.467 4.467 0 01-4.462-4.46v-.373H1.487a1.487 1.487 0 110-2.974h4.388v-.446A4.466 4.466 0 0110.337.442a4.466 4.466 0 014.462 4.46v3.793a4.467 4.467 0 01-4.462 4.461zm1.487-8.253a1.488 1.488 0 00-2.974 0v3.792c0 .82.667 1.487 1.487 1.487.82 0 1.487-.667 1.487-1.487zm7.44 25.8H36.59a1.487 1.487 0 110 2.975H19.265a1.487 1.487 0 110-2.974zm17.325-9.749H32.35a1.487 1.487 0 110-2.974h4.24a1.487 1.487 0 110 2.974zM1.487 17.98h17.477v-.512c0-2.46 2.002-4.46 4.462-4.46a4.467 4.467 0 014.462 4.46v3.867a4.467 4.467 0 01-4.462 4.461 4.467 4.467 0 01-4.462-4.461v-.38H1.487a1.487 1.487 0 110-2.975zm20.452 3.355a1.489 1.489 0 002.974 0v-3.867c0-.819-.667-1.486-1.487-1.486-.82 0-1.487.667-1.487 1.486zM1.487 30.704h4.391v-.446a4.467 4.467 0 014.462-4.462 4.467 4.467 0 014.463 4.462v3.792a4.467 4.467 0 01-4.463 4.461 4.467 4.467 0 01-4.462-4.461v-.372h-4.39a1.487 1.487 0 110-2.974zm7.366 3.346c0 .82.668 1.487 1.487 1.487a1.49 1.49 0 001.488-1.487v-3.792a1.489 1.489 0 00-2.975 0z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61 49" id="heart-empty">
            <path fill="#1165f5" d="M61 16.783c0 16.108-28.57 31.392-29.728 31.992a1.425 1.425 0 01-1.544 0C28.57 48.175 0 32.666 0 16.783 0 7.515 7.744 0 17.296 0c5.096-.058 9.947 2.117 13.204 5.92C33.778 2.142 38.615-.027 43.704 0 53.256 0 61 7.515 61 16.783zm-3.089 0c.008-4.661-2.412-9.01-6.432-11.561-6.567-4.166-15.372-2.379-19.666 3.993-.1.135-.222.253-.36.35a1.654 1.654 0 01-2.265-.35c-2.59-3.927-7.087-6.279-11.892-6.218C9.45 2.997 3.09 9.17 3.09 16.783c0 12.887 22.932 26.448 27.41 28.995 4.48-2.473 27.413-15.958 27.412-28.995z"></path>
            <path fill="#605f6b" d="M61 16.783c0 16.108-28.57 31.392-29.728 31.992a1.425 1.425 0 01-1.544 0C28.57 48.175 0 32.666 0 16.783 0 7.515 7.744 0 17.296 0c5.096-.058 9.947 2.117 13.204 5.92C33.778 2.142 38.615-.027 43.704 0 53.256 0 61 7.515 61 16.783zm-3.089 0c.008-4.661-2.412-9.01-6.432-11.561-6.567-4.166-15.372-2.379-19.666 3.993-.1.135-.222.253-.36.35a1.654 1.654 0 01-2.265-.35c-2.59-3.927-7.087-6.279-11.892-6.218C9.45 2.997 3.09 9.17 3.09 16.783c0 12.887 22.932 26.448 27.41 28.995 4.48-2.473 27.413-15.958 27.412-28.995z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61 49" id="heart-full">
            <path fill="#e73538" d="M43.704 0C38.615-.027 33.778 2.142 30.5 5.92 27.243 2.117 22.392-.058 17.296 0 7.744 0 0 7.515 0 16.783c0 15.883 28.57 31.392 29.728 31.992a1.425 1.425 0 001.544 0C32.43 48.175 61 32.89 61 16.783 61 7.515 53.256 0 43.704 0z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 33" id="location-pin">
            <path d="M28 13.34c-.006 5.7-3.593 9.45-7.063 13.075-1.696 1.773-3.45 3.605-4.833 5.694a2.053 2.053 0 01-1.716.901h-.776c-.696 0-1.343-.34-1.715-.9-1.384-2.09-3.138-3.922-4.834-5.695C3.593 22.79.006 19.041 0 13.343.01 5.982 6.29-.005 14-.005S27.99 5.982 28 13.34zm-4.058 0C23.936 8.117 19.476 3.867 14 3.867s-9.936 4.25-9.942 9.475c.004 4.194 2.783 7.099 6.001 10.46 1.328 1.389 2.69 2.81 3.94 4.406 1.253-1.595 2.614-3.017 3.942-4.405 3.218-3.362 5.997-6.267 6.001-10.465zm-3.957.196c0 1.068-.908 1.935-2.029 1.935-1.12 0-2.028-.867-2.028-1.935s-.91-1.936-2.03-1.936c-1.118 0-2.028.868-2.028 1.936 0 1.067.91 1.935 2.029 1.935 1.12 0 2.029.867 2.029 1.936s-.909 1.936-2.03 1.936c-3.356 0-6.086-2.605-6.086-5.807 0-3.203 2.73-5.808 6.087-5.808 3.356 0 6.086 2.605 6.086 5.808z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 38" id="instagram">
            <path d="M15.437.056c4.179-.04 8.504-.158 12.041.62 1.922.423 3.604.21 5.143.869 2.004.86 3.65 2.73 4.515 4.717 1.279 2.937 2.026 9.68 1.13 13.782-.354 1.614-.06 3.268-.377 4.716l-.126 3.974c-.825 3.722-1.338 6.2-4.515 7.574-5.063 2.19-16.122 2.148-22.201.744-3.241-.749-5.892-.985-7.526-3.228-.968-1.329-1.135-2.847-1.63-4.718-.999-3.763-1.444-12.33-.502-16.636.533-2.435.013-4.917.878-6.951 1.287-3.03 4.89-4.12 8.404-4.968l4.766-.495zM31.24 4.277c-.514.329-1.26.287-1.756.62-.378.254-.564.792-.878 1.117-.221 2.157.589 3.744 2.383 4.222.724.192 1.387-.187 1.756-.373 1.727-.875 2.174-2.106 1.63-4.22-.968-.669-1.416-1.33-3.135-1.366zM17.946 7.752c-.86.535-2.227.479-3.136.87C12.262 9.72 10.097 12 9.04 14.58l-.753 3.23c-.254 1.147.038 2.761.251 3.6.387 1.523.47 2.964 1.255 4.096 1.148 1.66 3.735 3.13 5.77 3.973 1.512.629 4.058 1.39 6.27.87 4.675-1.1 7.236-3.73 8.781-7.947.562-1.533.96-4.268.376-6.208-.314-1.04-.703-2.22-1.254-3.103-2.282-3.652-5.676-5.383-11.79-5.339zm.25 3.973c4.715-.072 7.187 2.64 8.404 5.96 1.595 4.35-1.134 8.004-4.264 8.938-1.38.412-3.2.016-4.14-.372-3.018-1.245-6.844-4.747-5.268-9.56.646-1.972 2.006-3.354 3.638-4.345.485-.294 1.164-.301 1.63-.62z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 39" id="location-white">
            <path d="M30.31 15.959c0 .983-.093 1.943-.272 2.879 0 0-.032.171-.102.476a14.573 14.573 0 01-1.021 3.012c-1.528 3.62-5.045 9.651-12.936 16.205-.491.406-1.2.406-1.684 0C6.404 31.97 2.887 25.938 1.367 22.333a15.218 15.218 0 01-1.022-3.011 15.286 15.286 0 01-.304-4.837C.766 6.954 7.043 1.054 14.6.79c8.624-.305 15.712 6.6 15.712 15.168zm-7.804.18a7.37 7.37 0 00-7.37-7.374 7.37 7.37 0 00-7.367 7.373 7.37 7.37 0 007.368 7.373 7.37 7.37 0 007.369-7.373z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43 43" id="mail">
            <path d="M42.885 21.302v2.302c0 4.635-3.487 8.268-7.937 8.268-2.435 0-4.59-1.124-6.047-2.854-1.89 1.756-4.403 2.854-7.182 2.854-5.835 0-10.582-4.742-10.582-10.57 0-5.827 4.747-10.57 10.582-10.57 2.66 0 5.064 1.019 6.926 2.643h3.657v10.57a2.647 2.647 0 002.646 2.642c1.533 0 2.646-1.254 2.646-2.983v-2.302c0-8.742-7.121-15.853-15.875-15.853-8.753 0-15.874 7.11-15.874 15.853 0 8.743 7.121 15.854 15.874 15.854a15.88 15.88 0 007.937-2.12l2.649 4.575a21.179 21.179 0 01-10.586 2.83C10.05 42.44.554 32.957.554 21.3.554 9.647 10.05.164 21.72.164s21.166 9.483 21.166 21.139zm-15.874 0a5.293 5.293 0 00-5.292-5.285 5.293 5.293 0 00-5.291 5.285 5.293 5.293 0 005.291 5.285 5.293 5.293 0 005.292-5.285z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" id="zphone">
            <path d="M31.31 25.327l-4.946-4.96c-.985-.983-2.617-.953-3.636.07l-2.492 2.499c-.157-.089-.32-.178-.492-.276-1.572-.875-3.727-2.072-5.993-4.347-2.273-2.277-3.469-4.439-4.344-6.02-.092-.166-.18-.328-.267-.48l1.672-1.675.822-.825c1.021-1.022 1.05-2.659.066-3.646L6.755.708C5.77-.277 4.139-.247 3.118.776L1.725 2.182l.038.038A8.074 8.074 0 00.614 4.251a8.461 8.461 0 00-.511 2.06C-.55 11.74 1.923 16.7 8.638 23.433 17.92 32.737 25.4 32.033 25.722 32a8.438 8.438 0 002.06-.52 7.971 7.971 0 002.02-1.148l.03.029 1.412-1.388c1.019-1.024 1.048-2.658.065-3.647z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" id="icon-search">
            <path d="M37.525 37.534c-.62.62-1.62.62-2.24 0l-9.132-9.127a15.917 15.917 0 01-10.14 3.621C7.17 32.028.008 24.856.008 16.016S7.169.005 16.014.005c8.837 0 16.007 7.171 16.007 16.011 0 3.853-1.364 7.39-3.628 10.15l9.132 9.134c.62.613.62 1.621 0 2.234zm-8.682-21.518c0-7.072-5.76-12.833-12.83-12.833-7.076 0-12.828 5.76-12.828 12.833 0 7.072 5.752 12.825 12.829 12.825 7.07 0 12.829-5.753 12.829-12.825z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 31" id="reset">
            <path d="M2.776 17.88l-1.844-.37a.898.898 0 01-.718-.799c-.027-.299-.05-.69-.05-1.196v-.035C.164 7.062 7.062.164 15.48.164c3.984 0 7.705 1.543 10.415 4.074l.88-.861a.897.897 0 01.88-.233.9.9 0 01.626.678l1.276 6.399c.132.706-.579 1.219-1.06 1.059.378.076-5.556-1.837-5.737-1.873a.939.939 0 01-.681-.61.917.917 0 01.233-.897l1.035-1.053c-2.064-1.885-4.87-3.093-7.867-3.093-6.426 0-11.726 5.3-11.726 11.726 0 .43.03.92.09 1.412a.898.898 0 01-1.068.987zM28.282 3.825zm2.465 10.423c.034.388.048.779.048 1.177v.054c0 8.417-6.898 15.315-15.315 15.315-4.003 0-7.724-1.603-10.434-4.134l-.861.862c-.193.213-.505.327-.88.232a.897.897 0 01-.628-.681l-1.275-6.336a.894.894 0 01.252-.807.878.878 0 01.796-.254c-.21-.024 5.57 1.839 5.749 1.875a.938.938 0 01.682.61c.09.323 0 .664-.233.897l-1.035 1.036c2.064 1.902 4.87 3.11 7.867 3.11 6.425 0 11.725-5.3 11.725-11.725 0-.388-.028-.898-.092-1.422a.898.898 0 011.07-.988l1.85.377c.39.08.68.406.714.802zm-28.285 5.43zm.215 7.395z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" id="sort-desc">
            <path d="M12.224 11.034a.42.42 0 01-.12-.31v-2.58c0-.126.04-.23.12-.31a.417.417 0 01.309-.12h6.013a.416.416 0 01.43.43v2.58c0 .126-.04.23-.121.31a.416.416 0 01-.309.121h-6.013a.417.417 0 01-.309-.12zm0-6.884a.42.42 0 01-.12-.309V1.259a.42.42 0 01.12-.309c.08-.08.183-.12.309-.12h3.436c.125 0 .228.04.308.12a.419.419 0 01.121.31v2.58c0 .126-.04.229-.12.31a.417.417 0 01-.309.12h-3.436a.418.418 0 01-.309-.12zm-2.39 15.73a.419.419 0 01.121.31.505.505 0 01-.134.323l-4.282 4.289a.449.449 0 01-.309.12.483.483 0 01-.308-.12L.626 20.499c-.134-.143-.165-.3-.094-.47a.398.398 0 01.403-.27h2.577V1.26a.42.42 0 01.12-.309.425.425 0 01.31-.12h2.577c.125 0 .228.04.309.12.08.08.12.184.12.31v18.5h2.578c.125 0 .228.04.309.12zm14.296 2.03v2.582a.42.42 0 01-.12.31.417.417 0 01-.31.12H12.534a.417.417 0 01-.309-.12.418.418 0 01-.12-.31v-2.581a.42.42 0 01.12-.31.417.417 0 01.309-.12H23.7c.125 0 .228.04.309.12.08.081.12.184.12.31zm-11.906-3.992a.418.418 0 01-.12-.31v-2.58c0-.126.04-.23.12-.31.08-.08.183-.12.309-.12h8.59c.126 0 .229.04.31.12.08.08.12.184.12.31v2.58a.42.42 0 01-.12.31.42.42 0 01-.31.12h-8.59a.418.418 0 01-.309-.12z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 37" id="star">
            <path d="M39.655 14.08a.708.708 0 00-.573-.473l-12.849-1.828L20.487.384a.709.709 0 00-.636-.388c-.27 0-.518.15-.636.388L13.468 11.78.62 13.608a.708.708 0 00-.574.473.683.683 0 00.18.712l9.297 8.871L7.328 36.19a.69.69 0 00.282.68c.22.157.51.178.748.053l11.493-5.914 11.492 5.914a.72.72 0 00.748-.054.687.687 0 00.282-.68L30.18 23.665l9.298-8.871a.685.685 0 00.178-.713z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 20" id="tick">
            <path d="M9.726 19.306a1.275 1.275 0 01-1.807 0L.704 12.084a1.918 1.918 0 010-2.713l.904-.904a1.915 1.915 0 012.71 0l4.505 4.508L20.995.794a1.914 1.914 0 012.71 0l.904.904a1.92 1.92 0 010 2.712z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 26" id="vk">
            <path fill="#fff" d="M38.485 23.365a3.773 3.773 0 00-.128-.292c-.655-1.413-1.907-3.147-3.756-5.203l-.039-.047-.02-.022-.02-.023h-.02c-.838-.96-1.37-1.602-1.592-1.932-.407-.627-.498-1.263-.275-1.906.157-.488.747-1.514 1.77-3.084.537-.831.963-1.498 1.278-1.999 2.268-3.61 3.251-5.917 2.95-6.922l-.118-.235c-.079-.14-.282-.27-.61-.387-.327-.118-.747-.138-1.258-.058l-5.664.045c-.091-.038-.222-.034-.393.013l-.256.07-.098.06-.078.07a.994.994 0 00-.217.248 1.698 1.698 0 00-.196.411 42.023 42.023 0 01-2.104 5.295c-.485.973-.93 1.816-1.338 2.531-.406.714-.747 1.24-1.022 1.576a7.694 7.694 0 01-.748.813c-.222.204-.393.29-.51.259-.118-.032-.23-.064-.335-.094a1.502 1.502 0 01-.442-.577 2.958 2.958 0 01-.227-.917c-.039-.37-.062-.688-.069-.955a24.44 24.44 0 01.01-1.13c.014-.486.02-.816.02-.988 0-.597.01-1.243.03-1.942l.049-1.66c.013-.406.02-.838.02-1.294 0-.454-.024-.812-.07-1.07a4.146 4.146 0 00-.206-.753A1.226 1.226 0 0022.4.7a2.066 2.066 0 00-.659-.318c-.694-.189-1.58-.29-2.655-.307-2.438-.03-4.005.158-4.7.565a2.809 2.809 0 00-.747.707c-.236.344-.269.533-.098.564.786.141 1.344.48 1.671 1.012l.118.282c.092.204.184.566.276 1.084.091.517.15 1.09.176 1.718.066 1.145.066 2.126 0 2.942a41.404 41.404 0 01-.186 1.907c-.06.455-.148.824-.266 1.106a5.095 5.095 0 01-.236.517.362.362 0 01-.098.118 1.23 1.23 0 01-.53.119c-.185 0-.408-.112-.67-.331a5.169 5.169 0 01-.816-.906c-.282-.384-.6-.922-.953-1.612a30.445 30.445 0 01-1.101-2.448l-.315-.683a63.338 63.338 0 01-.806-1.918A41.947 41.947 0 018.9 2.384c-.105-.33-.262-.582-.472-.755l-.098-.07a1.275 1.275 0 00-.315-.2 1.85 1.85 0 00-.452-.153l-5.388.047c-.551 0-.925.148-1.121.447l-.08.141c-.038.078-.058.205-.058.376 0 .173.04.385.118.637A85.144 85.144 0 003.6 9.256c.924 2.054 1.727 3.712 2.409 4.966a59.653 59.653 0 002.084 3.553c.709 1.114 1.177 1.829 1.406 2.142.23.315.41.55.541.706l.492.565c.315.376.776.829 1.386 1.354.61.526 1.285 1.043 2.026 1.554.74.51 1.602.924 2.586 1.246.983.322 1.94.452 2.871.39h2.261c.46-.049.807-.221 1.043-.518l.078-.118c.053-.094.102-.24.147-.434.046-.197.07-.415.07-.649a9.262 9.262 0 01.127-1.823c.098-.542.21-.95.335-1.224.125-.275.265-.507.422-.694.157-.188.27-.303.335-.342a.968.968 0 01.157-.082c.314-.126.685-.004 1.111.364.426.37.826.826 1.2 1.367.373.541.823 1.148 1.347 1.824.525.673.984 1.175 1.377 1.506l.392.281c.263.189.604.361 1.024.52.418.156.786.195 1.1.118l5.035-.096c.497 0 .885-.098 1.16-.294.275-.195.439-.412.491-.647.053-.236.056-.503.01-.801a3.46 3.46 0 00-.138-.625z"></path>
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" id="download">
            <g><path d="M31 22a1 1 0 00-1 1v7H2v-7a1 1 0 00-2 0v8a1 1 0 001 1h30a1 1 0 001-1v-8a1 1 0 00-1-1z"></path><path d="M15.27 23.707c.389.385 1.04.389 1.429 0l6.999-6.9a.993.993 0 000-1.414 1.016 1.016 0 00-1.428 0l-5.275 5.2V1c0-.552-.452-1-1.01-1s-1.01.448-1.01 1v19.593l-5.275-5.2a1.016 1.016 0 00-1.428 0 .992.992 0 000 1.414l6.998 6.9z"></path></g>
        </symbol>
    </svg>
</body>

</html>
